<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list text">
          {% if page.lang == 'de'%}
          <li style="font-family: monospace;"><a href="/impressum" class="internal-link">Impressum</a></li>
          <li style="font-family: monospace;"><a href="/datenschutz" class="internal-link">Datenschutzerklärung
            </a></li>
          {% else %}
          <li style="font-family: monospace;"><a href="/en/impressum" class="internal-link">Imprint</a></li>
          <li style="font-family: monospace;"><a href="/en/datenschutz" class="internal-link">Data Privacy
            </a></li>
          {% endif %}
          {%- if site.email -%}
          <li style="margin-top: 1em;" class="footer-inline-svg">{% include icons/stacked_email.svg %}<a class="u-email"
              href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2 text">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3 text">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>
</footer>
